<!DOCTYPE html>

<head>
	<meta charset="utf-8">
    <meta name="Description" content="WELCOME">
    <meta name="" content="">
    <meta name="">
	<title>WELCOME</title>
	<style type="text/css" media="screen">
		html, body, div, header, footer, aside, nav, article, section	{ margin: 0; padding: 0; }
		header, footer, aside, nav, article, section	{ display: block; }
		body 			{ color: #333; font: 12px Helvetica, Arial, sans-serif; line-height: 18px; }
		h2				{ color: #333; }
		a				{ color: #337810; }
		p				{ margin: 0 0 18px; }
		#container		{ width: 760px; margin: 0 auto;}
		
		/* Header */
		header			{ background: #333; border-bottom: 2px solid #aaa; }
		header h1  	{ color: #fff; margin: 0 0 3px; padding: 24px 18px 0; }
		header p		{ color: #ccc; font-size: 11px; font-weight: bold; padding: 0 18px; }
		
		/* Content Style */
		nav		{ border-bottom: 1px solid #ccc; margin-right: 18px; }
		nav ul	{ padding: 0 18px 9px; }
		#extra			{ margin-left: 18px; }
		#extra small	{ font-size: 11px; line-height: 18px; }
		#content		{ border-bottom: 1px solid #ccc; margin-left: 18px; }
		#content p, #extra p { padding-right: 18px; }
		
		/* Content Positioning and Size */
		nav		{ float: right; width: 175px; }
		#content		{ float: left; width: 540px; }
		#extra			{ float: left; width: 540px; }		/* Footer */
		footer			{ background: #666; border-bottom: 2px solid #aaa; clear: left; width: 100%; }
		footer a		{ color: #fff; }
		footer	p		{ color: #ccc; margin: 0; padding: 0 18px 10px; }
		footer ul		{ border-bottom: 1px solid #999; list-style: none; margin: 0 18px 6px; padding: 10px 0 6px; }
		footer li		{ display: inline; font-size: 11px; font-weight: bold; padding-right: 5px; }
	</style>
	<!--[if IE]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<div id="container">
		<header>
			<h1>TAC</h1>
			<p class="description">Total anthocyans content calculator for different strawberry cultivars
			<%= link_to image_tag("home2.png", size: "63x63", :border=>"0", :align=>"right"), '/', :alt=>"Home", :title=>"Home"%>
			</p>

		</header>
		<div id="wrapper">
			<section id="content">
				<h2>Contact us</h2>
				<p>
				<div align="justify">    

    <div align="justify">    
	    <form action="contact" method="POST" enctype="multipart/form-data">
	    <input type="hidden" name="action" value="submit"/> Your name:<br />
	    <input name="name" type="text" value="" size="30"/> <br /> Your email:<br />
	    <input name="email" type="text" value="" size="30"/> <br /> Your message:<br />
	    <textarea name="message" rows="7" cols="30"> </textarea> <br />
	    <input type="submit" value="Send email"/>
    </form> 
	</div>
	<div id="notice" style=<%= "color:#{@color}" %>><strong><%= @notice %></strong></div>
	</p>
</section>
</div>

	<table>
		<tr>
	
	<BR>
	<BR>
	<BR>
	<BR>
	<BR>
	<BR>
	<td valign="top">
	<%= image_tag("fruits.jpg", size: "170x113",  :alt=>"Contact us", :title=>"Contact us", :border=>"0") %>
	</td>
	</tr>			
	</table>


</div>


