<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p>You have received the following email from <%= "#{ @name.html_safe } (#{ @email.html_safe }):" %></p>
        <p><%= @body.html_safe %></p>
    </body>
</html>