		<h4><b>NON-TREATED APPLES</b></h4>
		<li><a href="/apple/eq1">Browning (CIELab) over storage time</a></li>
		<li><a href="/apple/eq2">Soluble solids content</a></li>
		<li><a href="/apple/eq2">pH</a></li>			
