		<h4><b>TREATED APPLES</b></h4>
		<li><a href="/apple/eq4">Browning (CIELab) over storage time</a></li>
		<li><a href="/apple/eq5">Sensory Evaluation</a></li>	
		<li><a href="/apple/st">Fresh-cut apple shelf-life</a></li>
		<li><a href="/apple/r3eq1">Browning (CIELab) modified vs. normal atmosphere</a></li>
		<li><a href="/apple/r3eq2">Browning (CIELab) and apple respiration</a></li>
		<li><a href="/apple/r5eq14">Microbial growth and modified atmosphere</a></li>
