		<div id="wrapper">
			<section id="content">
				<h2>Abstract</h2>
				<p><div align="justify">This study evaluated color change (&#916E<sup>*</sup><sub>ab</sub>) 
				of various apples cultivars (AC) (n=210): (i) Idared, (ii) Golden Delicious,
				(iii) Gala, (iv) Gloster, (v) Cripps Pink, (vi) Breaburn, and (vii) Fuji)
				 treated with different anti-browning treatments (ABT) (n=600): (i) ascorbic+citric acid; (ii) ascorbic acid + NaCl; (iii) ascorbic acid + CaCl2,
				  (iv) NaCl, (v) citric acid, and (vi) Ca-ascorbate). The best ABT were tested with or without ultrasound (n=192). 
				  The effectiveness of ABT was determined as negative effect on &#916E<sup>*</sup><sub>ab</sub> over storage time (ST). 
				  The best AC were Cripps Pink and Golden Delicious and the best tested ABT were Ca-ascorbate and ascorbic+citric acid. 
				  Results yielded 5 mathematical models for predicting: (i) browning of AC over ST with ABT; (ii) browning of AC over ST without ABT or different ABT); 
				  (iii) sensory evaluation of AC with ABT; (iv) soluble solids content, and (v) pH for different AC.
				   Mathematical equations/models can optimize engineering parameters for fresh-cutting (by identifying the best combination of AC, ABT, and longest ST that apples can have with acceptable sensory evaluation.
				    Application available at <b>apple.pbf.hr</b> or <b>31.147.204.87</b></div></p>
				</section>
		</div>

		<nav>			
			<h2><b>MODELS:</b></h2>
			<ul>
				<h4><b>NON-TREATED APPLES</b></h4>
				<li><a href="/apple/eq1">Browning with storage time</a></li>
				<li><a href="/apple/eq2">Soluble solids content</a></li>
				<li><a href="/apple/eq2">pH</a></li><BR>
				
				<h4><b>TREATED APPLES</b></h4>
				<li><a href="/apple/eq4">Browning with storage time</a></li>
				<li><a href="/apple/eq5">Sensory Evaluation</a></li>
				<br>



				<%= link_to image_tag("BICRO.jpg", size: "200x40"), 'http://www.bicro.hr/en', :alt=>"Business Innovation Agency of the Republic of Croatia.", :title=>"Business Innovation Agency of the Republic of Croatia.", 
					:border=>"0" %>
				<br>
				<%= link_to image_tag("PBF.png",size:"102x72") , 'http://www.pbf.hr/en',  
				:alt=>"FFTB - University of Zagreb", :title=>"FFTB - University of Zagreb", :border=>"0"
				%> 
				
							
			</ul>
		</nav>
