<br>
<br>
<br>

<small>
<P STYLE="margin-bottom: 0.11in"><U><B>TO REFERENCE THE </B></U><FONT FACE="Calibri, serif"><U><B>CAPPABLE</B></U></FONT><U><B>
PLEASE USE A CITATION OF THE FORM:</B></U></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in; line-height: 100%">
	<FONT FACE="Calibri, serif">Pizent, G., Putnik, P., Bursac Kovacevc,
	D., Herceg, K., Levaj, B., (2014). Anti-browning Apple Calculator –
	CAPPABLE: <A HREF="http://apple.pbf.hr">http://apple.pbf.hr</A> (IP:
	<A HREF="http://31.147.204.87">http://31.147.204.87</A>), 1.0 ed,
	Faculty of Food Technology and Biotechnology, University in Zagreb.</FONT></P>
</UL>
<small>
