<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.3.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="Jozo">
	<META NAME="CREATED" CONTENT="20140213;100700000000000">
	<META NAME="CHANGEDBY" CONTENT="goran ">
	<META NAME="CHANGED" CONTENT="20140218;233443519769192">
	<META NAME="AppVersion" CONTENT="15.0000">
	<META NAME="Company" CONTENT="Avitatoras d.d.">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
	<STYLE TYPE="text/css">
	<!--
		@page { margin: 1in }
		P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
		A:link { color: #0563c1; so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" LINK="#0563c1" DIR="LTR">
<P STYLE="margin-bottom: 0.11in"><U><B>TEAM MEMBERS:</B></U></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><B>Branka Levaj,
	Ph.D. </B><I><B>Project Leader.</B></I> Born in Zadar, Croatia.
	Works as Full professor at Faculty of Food Technology and
	Biotechnology, University in Zagreb. Head of Laboratory for
	Technology of Fruits and Vegetables Preservation and Processing.
	Responsible for: providing conceptual experimentation framework and
	implementation of the Project. Doctoral degree in biotechnical
	sciences. Master’s Degree in Food Engineering.</P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><A NAME="_GoBack"></A>
	<B>Predrag Putnik, Ph.D. </B><I><B>Project Coordinator.</B></I> Born
	in Zagreb, Croatia. Works as Research Associate at Faculty of Food
	Technology and Biotechnology, University in Zagreb, Laboratory for
	Technology of Fruits and Vegetables Preservation and Processing.
	Responsible for: mathematical modelling, statistical analysis,
	design of experiments, research methodology, laboratory analytics
	(texture and colorimetry), market research (writing questioners and
	training interviewers), project coordination (administration and
	finances) and implementation. Doctoral degree in biotechnical
	sciences. Master’s Degrees in Nutritional Sciences and Food
	Engineering.</P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><B>Danijela
	Bursac Kovacevic, Ph.D. </B><I><B>Project Associate.</B></I> Born in
	Zagreb, Croatia. Works as Scientific Assistant at Faculty of Food
	Technology and Biotechnology, University in Zagreb, Laboratory for
	Technology of Fruits and Vegetables Preservation and Processing.
	Responsible for: project’s laboratory analytics (HPLC and
	spectrophotometry, colorimetric evaluation, sensory evaluation,
	anti-browning and ultrasound treatment), literature review,
	practical structuring and implementing of experiments, and data
	collection for the model. Doctoral degree in biotechnical sciences.
	Master’s Degree in Food Engineering.</P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><B>Korina Herceg,
	M.Sc. </B><I><B>Project Associate.</B></I><B> </B>Born in Zabok,
	Croatia. Responsible for: literature review, project’s laboratory
	analytics (HPLC and spectrophotometry, texture measurement,
	colorimetric and sensory evaluation, anti-browning solutions,
	alginate and ultrasound treatment), market research (data
	collection/entry), data collection for the modeling. Master of Food
	Safety Management.</P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><B>Goran Pizent,
	M.Sc.</B><B> </B><I><B>Project Associate.</B></I><B> </B>Born in
	Zagreb, Croatia. Responsible for: computer programing of
	“Anti-browning Apple Calculator – CAPPABLE” and internet
	security support. Master’s Degree in electrical engineering and
	information technology.</P>
</UL>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in"><U><B>TO REFERENCE THE </B></U><FONT FACE="Calibri, serif"><U><B>CAPPABLE</B></U></FONT><U><B>
PLEASE USE A CITATION OF THE FORM:</B></U></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in; line-height: 100%">
	<FONT FACE="Calibri, serif">Pizent, G., Putnik, P., Bursac Kovacevc,
	D., Herceg, K., Levaj, B., (2014). Anti-browning Apple Calculator –
	CAPPABLE: <A HREF="http://apple.pbf.hr">http://apple.pbf.hr</A> (IP:
	<A HREF="http://31.147.204.87">http://31.147.204.87</A>), 1.0 ed,
	Faculty of Food Technology and Biotechnology, University in Zagreb.</FONT></P>
</UL>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in"><U><B>ACKNOWLEDGMENTS:</B></U></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">This work is made
	possible through the help and support from Business Innovation
	Croatian Agency – BICRO Poc4_01_43-U-1.</P>
</UL>
</BODY>
</HTML>