<h1>Welcome and choose application:</h1>
<br>
<h2><%= link_to "Total anthocyans content calculator for different strawberry cultivars",  "http://strawberry.pbf.hr" %></h2>
<h2><%= link_to "Anti-browning Apple Calculator",  "http://apple.pbf.hr" %></h2>

