<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="Description" content="CAPPABLE">
    <meta name="" content="">
    <meta name="">
	<title>CAPPABLE</title>
	<style type="text/css" media="screen">
		html, body, div, header, footer, aside, nav, article, section	{ margin: 0; padding: 0; }
		header, footer, aside, nav, article, section	{ display: block; }
		body 			{ color: #333; font: 12px Helvetica, Arial, sans-serif; line-height: 18px; }
		h2				{ color: #333; }
		a				{ color: #337810; }
		p				{ margin: 0 0 18px; }
		#container		{ width: 760px; margin: 0 auto;}
		
		/* Header */
		header			{ background: #333; border-bottom: 2px solid #aaa; }
		header h1  	{ color: #fff; margin: 0 0 3px; padding: 24px 18px 0; }
		header p		{ color: #ccc; font-size: 11px; font-weight: bold; padding: 0 18px; }
		
		/* Content Style */
		nav		{ border-bottom: 1px solid #ccc; margin-right: 18px; }
		nav ul	{ padding: 0 18px 9px; }
		#extra			{ margin-left: 18px; }
		#extra small	{ font-size: 11px; line-height: 18px; }
		#content		{ border-bottom: 1px solid #ccc; margin-left: 18px; }
		#content p, #extra p { padding-right: 18px; }
		
		/* Content Positioning and Size */
		nav		{ float: right; width: 175px; }
		#content		{ float: left; width: 540px; }
		#extra			{ float: left; width: 540px; }		/* Footer */
		footer			{ background: #666; border-bottom: 2px solid #aaa; clear: left; width: 100%; }
		footer a		{ color: #fff; }
		footer	p		{ color: #ccc; margin: 0; padding: 0 18px 10px; }
		footer ul		{ border-bottom: 1px solid #999; list-style: none; margin: 0 18px 6px; padding: 10px 0 6px; }
		footer li		{ display: inline; font-size: 11px; font-weight: bold; padding-right: 5px; }
	</style>
	<!--[if IE]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<div id="container">
		<header>
			<h1>CAPPABLE</h1>
			<p class="description">Anti-browning Apple Calculator <a href="index.html">
				<%= link_to image_tag("home2.png", size: "63x63", :border=>"0", :align=>"right"), 'welcome', :alt=>"Home", :title=>"Home" %>
				
			</a></p>
		</header>

		<%= yield %>

		<section id="extra">
			<h2><b><u><font size="-1">TO REFERENCE THE "CAPPABLE" PLEASE USE A CITATION OF THE FORM:</font></u></b></h2>
			<p><div align="justify">Pizent, G., Putnik, P., Bursac Kovacevc, D., Herceg, K., Levaj, B., (2014). Anti-browning Apple Calculator - CAPPABLE: http://apple.pbf.hr (IP: http://31.147.204.87), 1.0 ed, Faculty of Food Technology and Biotechnology, University in Zagreb.<BR>
			
			<h2><b><u><font size="-1">ACKNOWLEDGMENTS:</font></u></b></h2>
			
			<i>This work is made possible through the help and support from Business Innovation Croatian Agency - BICRO Poc4_01_43-U-1.</i></div></p>

			
		</section>
		<footer>
				<ul>
				<font size="2"><b>TEAM MEMBERS:</b></font><br>
				<li><a href="CV/BL.pdf">Branka Levaj, Ph.D.|</a></li>
				<li><a href="CV/PP.pdf">Predrag Putnik, Ph.D.|</a></li>
				<li><a href="CV/DBK.pdf">Danijela Bursac Kovacevic, Ph.D.|</a></li>
				<li><a href="CV/KH.pdf">Korina Herceg, M.Sc.|</a></li>
				<li><a href="CV/GP.pdf">Goran Pizent, M.Sc.|</a></li>
				<li><%= link_to image_tag("contact2.png", size: "25x25"), 'contact.html', :alt=>"Contact us", :title=>"Contact us", :border=>"0" %></li>
				</ul>
			<p>Copyright © Faculty of Food Technology and Biotechnology - University of Zagreb, 2014. All rights reserved.</p>
		</footer>
	</div>
</body>
</html>



