<!DOCTYPE html>
<html>

<body>
	<div id="container">

		<%= yield %>

		<footer>
				<ul>
				<font size="2"><b>TAC Creators:</b></font><br>
				<li><a href="/CV/strawberry/GP.pdf">Goran Pizent, M.Sc.|</a></li>
				<li><a href="/CV/strawberry/PP.pdf">Predrag Putnik, Ph.D.|</a></li>
				<li><a href="/CV/strawberry/DBK.pdf">Danijela Bursac Kovacevic, Ph.D.|</a></li>
				<li><%= link_to image_tag("contact2.png", size: "25x25"), '/strawberry/contact', :alt=>"Contact us", :title=>"Contact us", :border=>"0" %></li>
				</ul>
			<p>Copyright © Faculty of Food Technology and Biotechnology - University of Zagreb, 2014. All rights reserved.</p>
		</footer>
	</div>
</body>
</html>



